doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        title Document
        link(rel='stylesheet' href='/css/bootstrap.min.css')
        link(rel='stylesheet' href='/js/bootstrap.bundle.min.js')
    body
        header
            nav.navbar.navbar-expand-lg.bg-light
                .container
                    .col
                        img(height='40' width='40' src='/image/logo.png' alt='')
                        button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarScroll' aria-controls='navbarScroll' aria-expanded='false' aria-label='Toggle navigation')
                            span.navbar-toggler-icon
                    #navbarScroll.collapse.navbar-collapse
                        ul.navbar-nav.me-auto.my-2.my-lg-0.navbar-nav-scroll(style='--bs-scroll-height: 100px;')
                            li.nav-item
                                a.nav-link.active(aria-current='page' href='/') Home
                            li.nav-item
                                a.btn About
                            li.nav-item
                                a.btn Contact
                            li.nav-item
                                a.btn(href='/student-list') Student List
                                li.nav-item
                                a.btn(href='/add-student') Add New Student
                        button.btn.btn-outline-success(href='/login') Login
        main.vh-100
            section.d-flex.justify-content-center.align-items-center.vh-100
                div
                    div
                        h3.text-center Add New Student
                        form.mt-4
                            .mb-2
                                label.form-label(for='name') Full Name
                                input#userName.form-control(type='Text')
                            .mb-2
                                label.form-label(for='exampleInputEmail1') Email address
                                input#exampleInputEmail1.form-control(type='email' aria-describedby='emailHelp')
                                #emailHelp.form-text We'll never share your email with anyone else.
                            .mb-2
                                label.form-label(for='studentId') Student Id
                                input#studentId.form-control(type='text')
                            div
                                label.form-label(for='exampleInputPassword1') Department
                                select.form-select(aria-label='Default select example')
                                    option(selected='') Open this select menu
                                    option(value='1') CSE
                                    option(value='2') EEE
                                    option(value='3') BBA
                            .mb-2
                                label.form-label(for='phoneNumber') Phone Number
                                input#phoneNumber.form-control(type='text')
                            div
                                label.form-label(for='phoneNumber') Gender
                                .form-check
                                    input#flexRadioDefault1.form-check-input(type='radio' name='flexRadioDefault')
                                    label.form-check-label(for='flexRadioDefault1')
                                        | Male
                                .form-check
                                    input#flexRadioDefault2.form-check-input(type='radio' name='flexRadioDefault' checked='')
                                    label.form-check-label(for='flexRadioDefault2')
                                        | Female
                            button#studentBtn.btn.btn-primary.text-center.mt-3(onsubmit='handleAddStudent()' type='submit') Add New
        script(src='/js/bootstrap.bundle.min.js')
        script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js' integrity='sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3' crossorigin='anonymous')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js' integrity='sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk' crossorigin='anonymous')
